.navbar {
    background: #eba7b2;
}

.tag {
    font-family: 'InterDisplay', sans-serif;
}
@supports (font-variation-settings: normal) {
    .tag {
        font-family: 'InterDisplay var', sans-serif;
    }
}

p.main-project-card-desc {
    margin-bottom: 0.7rem;
}

.main-project-card-tags {
    /* Make padding a little smaller here to compensate for more margin in tags */
    padding: 0 0.9rem;
    margin-bottom: 0.7rem;

    display: flex;
    flex-wrap: wrap;
}

.tag {
    font-weight: 500;
    font-size: 1rem;
    border-radius: 0.2rem;
    padding: 0.1rem 0.3rem;
    margin: 0.1rem;
}

.tag-python {
    color: #eee;
    background: #4958e6;
}

.tag-js {
    color: #222;
    background: #ffc505;
}

.tag-html {
    color: #eee;
    background: #f0584d;
}

.tag-css {
    color: #eee;
    background: #4a7ad4;
}

.tag-ts {
    color: #eee;
    background: #023657;
}

.tag-react {
    color: #222;
    background: #61dafb;
}

.tag-php {
    color: #eee;
    background: #8892bf;
}

.tag-node {
    color: #eee;
    background: #53a244;
}

.tag-linux {
    color: #eee;
    background: #222;
}

.tag-mongo {
    color: #eee;
    background: #13aa52;
}
